<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExerciseApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ExerciseApp.Properties.Settings>
            <setting name="sqlconnString" serializeAs="String">
                <value>server=.;database=MyExercise;uid=sa;pwd=123</value>
            </setting>
        </ExerciseApp.Properties.Settings>
    </userSettings>
  <appSettings>
    <add key="sqlconnString" value="server=.;database=MyExercise;uid=sa;pwd=123"/>
  </appSettings>
  <connectionStrings>
    <add name="sqlconnString" connectionString="server=.;database=MyExercise;uid=sa;pwd=123"/>
  </connectionStrings>
</configuration>